<div id="title">
<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
<% } else { res.redirect('/') } %>
</div>

<%- messages() %>

<% if (errors) { %>
  <ul class="error-notice">
    <% errors.array().forEach(error=> { %>
      <li>
        <%= error.msg %>
      </li>
      <% }) %>
  </ul>
<% } %>

<div id="manage" class="form-manage">
  <h3>Welcome <%= locals.accountData.account_firstname %></h3>
  <p>You're logged in!</p>
  <a title="Click to update account" href="/account/edit/<%= locals.accountData.account_id %>">Edit Account Information</a>
  <a title="Click to delete account" href="/account/delete/<%= locals.accountData.account_id %>">Delete Account</a>
  <% if (locals.accountData.account_type == "Admin" || locals.accountData.account_type == "Employee") { %>
    <h2>Inventory Management</h2>
    <a title="Click to manage inventory" href="/inv/">Manage Inventory</a>
    <% } %>
</div>